<script type="text/javascript">
let healthstatus={}
healthstatus["healthcheck"] = {"healthcheck":{"message":"Initial","nextcheck":new Date({{healthservice_nextcheck}}) } }
{% for section in healthcheck.sectionlist %}
healthstatus['{{section.sectionid}}'] = {}
    {% for service in section.servicelist %}
healthstatus['{{section.sectionid}}']['{{service.serviceid}}'] = {"nextcheck": "{{service.healthstatus_nextcheck}}","message":`Health Status : {{service.healthstatus_name}}
Check Start Time : {{service.healthstatus_checkstart}} 
Check End Time : {{service.healthstatus_checkend}}
Health Status Message : {{service.healthstatus_info}}
Next Check Time : {{service.healthstatus_nextcheck}}
`}
    {% endfor %}
{% endfor %}

let connect_msg = "initial connecting..."
let connected = false

function browserside_check() {
    Object.entries(healthstatus).forEach(([section, sectionstatus]) => {
        Object.entries(sectionstatus).forEach(([service,servicestatus]) => {
            if (!servicestatus["nextcheck"]) {
                return
            }
            now = new Date()
            if (now - servicestatus["nextcheck"] > {{nextcheck_timeout}} ) {
                //next check not running, maybe caused by healthcheck service or the target service
                try{
                    document.getElementById(section+ "-" + service + "-statusname-img").src = "/static/img/error.svg"
                }catch(error) {
                    document.getElementById(section+ "-" + service + "-statusname").innerHTML = '<img id="' + section + '-' + service + '-statusname-img" src="/static/img/error.svg" class="healthstatusimg"/>'
                }
                nextcheck = servicestatus["nextcheck"]
                nextcheckstr = nextcheck.getFullYear() + '-' + (nextcheck.getMonth() + 1) + "-" + nextcheck.getDate() + " " + nextcheck.getHours() + ":" + nextcheck.getMinutes() + ":" + nextcheck.getSeconds()
                healthstatus[section][service]["message"] = `Health Status : error 
    Health Status Message : Next Health check should be executed ` + Math.floor((now - servicestatus["nextcheck"]) / 1000) + ` seconds ago.
    Next Check Time:` + nextcheckstr + `
    `
            }
        });
    });
}

setInterval(browserside_check,{{nextcheck_checkinterval}})
function fetch_healthstatus() {
    connected = false
    
    fetch(healthstatusstreamurl)
    .then((response) => {
        const decoderStream = new TextDecoderStream();
        return response.body.pipeThrough(decoderStream)
      })
    .then((resbody) => {
      const reader = resbody.getReader();
      count = 0
      connected = true
      remaindata = ""
      function readdata() {
          // "done" is a Boolean and value a "Uint8Array"
          reader.read().then(({ done, value }) => {
          // If there is no more data to read
              if (done) {  
                  connect_msg = "All data are fetched."
                  setTimeout(fetch_healthstatus,5)
                  return;
              }
              //console.log(value)
              if (value === null){
                  readdata()
                  return
              }

              if (remaindata != "") {
                  value = remaindata + value

              }
              datas = value.split("\n")
              if (datas[datas.length - 1] != "") {
                  remaindata = datas[datas.length - 1]
              }
              count += 1
              for(i = 0;i < datas.length - 1;i++) {
                  try{
                      datas[i] = JSON.parse(datas[i])
                      if (datas[i] == "reload") {
                          window.location.reload(true);
                          continue
                      }
                      if (datas[i][1] === null) {
                          continue
                      }
                      try{
                          document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-statusname-img").src = "/static/img/" + datas[i][1][1][2] + ".svg"
                      }catch(error) {
                          document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-statusname").innerHTML = '<img id="' + datas[i][0][0] + '-' + datas[i][0][1] + '-statusname-img" src="/static/img/' + datas[i][1][1][2] + '.svg" class="healthstatusimg"/>'
                      }
                      nextcheck = new Date(datas[i][1][0])
                      nextcheckstr = nextcheck.getFullYear() + '-' + (nextcheck.getMonth() + 1) + "-" + nextcheck.getDate() + " " + nextcheck.getHours() + ":" + nextcheck.getMinutes() + ":" + nextcheck.getSeconds()
                      healthstatus[datas[i][0][0]][datas[i][0][1]]["message"] = "Health Status : " + datas[i][1][1][2] + `
    Check Start Time : ` + datas[i][1][1][0] + `
    Check End Time : ` + datas[i][1][1][1] + `
    Health Status Message : ` + datas[i][1][1][3] + `
    Next Check Time : `  + nextcheckstr + `
    `
                      healthstatus[datas[i][0][0]][datas[i][0][1]]["nextcheck"] = nextcheck
                  } catch(error) {
                      continue
                  }
              }
              // Get the data and send it to the browser via the controller
              // Check chunks by logging to the console
              readdata();
            })
          .catch(error => {
              connect_msg = "Connection Error: " + error
              setTimeout(fetch_healthstatus,5)
          });
    
      }
      readdata()
    })
    .catch(error => {
        console.log("Fetch data error : " + error)
        connect_msg = "Connection Error: " + error
        setTimeout(fetch_healthstatus,5)
    })
}

fetch_healthstatus()
</script>

<img src="/static/img/green.svg" style="width:32px;height:32px;display:none" alt="cache the image"/>
<img src="/static/img/yellow.svg" style="width:32px;height:32px;display:none" alt="cache the image"/>
<img src="/static/img/red.svg" style="width:32px;height:32px;display:none" alt="cache the image"/>
<img src="/static/img/error.svg" style="width:32px;height:32px;display:none" alt="cache the image"/>
<table class="healthstatusblock">
    <tr class="sectionhealthstatusrow"><td class="sectionhealthstatuscolumn">
    <div class="servicehealthstatus">
        <div class="servicename">healthcheck</div>
        <div class="healthstatus" id="healthcheck-healthcheck-statusname">
          <img id="healthcheck-healthcheck-statusname-img" src="/static/img/green.svg" class="healthstatusimg"/>
        </div>
        <div class="healthstatusbuttons">
            <A href="javascript:alert(healthstatus['healthcheck']['healthcheck']['message'])"><img src="/static/img/info.svg" class="imgbutton"/></A> 
        </div>
    </div>
    </td></tr>
{% for section in healthcheck.sectionlist %}
    <tr class="sectionnamerow"><td class="sectionnamecolumn"><span class="sectionname">{{section.name}}</span></td></tr>
    <tr class="sectionhealthstatusrow"><td class="sectionhealthstatuscolumn">
    {% for service in section.servicelist %}
    <div class="servicehealthstatus">
        <div class="servicename">{{service.name}}</div>
        <div class="healthstatus" id="{{section.sectionid}}-{{service.serviceid}}-statusname">
              {% if service.healthstatus_name != "" %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-img" src="/static/img/{{ service.healthstatus_name }}.svg" class="healthstatusimg"/>
              {% endif %}
        </div>
        <div class="healthstatusbuttons">
            <A href="javascript:alert(healthstatus['{{section.sectionid}}']['{{service.serviceid}}']['message'])"><img src="/static/img/info.svg" class="imgbutton"/></A> 
            {% if service.healthstatus_persistent %}
            | <A target="_blank" href="/healthcheck/detail/{{service.sectionid}}/{{service.serviceid}}"><img src="/static/img/details.svg" class="imgbutton"/></A>
            {% endif %}
            {% if service.historyenabled %}
            | <A target="_blank" href="/healthcheck/history/{{service.sectionid}}/{{service.serviceid}}"><img src="/static/img/history.svg" class="imgbutton"/></A>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </td></tr>
{% endfor %}
</table>

