<!doctype html>
<html lang="en">
  <head>
    <title>DBCA Spatial Support System health checks</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DBCA Spatial Support System health checks" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
        {% include 'healthcheck/inc/healthcheck.css' %}
    </style>
    <script type="text/javascript">
        healthstatusstreamurl = "/healthcheck/healthstatusstream"
    </script>
  </head>
  <body>
      <h3>DBCA Spatial Support System health checks 
      <br>
      <A target="Edit health check configuration" href="/healthcheck/config">Edit</A> | 
      <A target="Edit health check configuration" href="/healthcheck/publishhistories">Publish Histories</A>
      </h3>
      {% include 'healthcheck/inc/healthcheckstatus.html' %}
  </body>
</html>
