<!doctype html>
<html lang="en">
  <head>
    <title>DBCA Health Check</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DBCA Spatial Support System health checks" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
        {% include 'healthcheck/inc/healthcheck.css' %}
    </style>
    <script>
        {% include 'healthcheck/inc/healthcheck.js' %}
    </script>
  </head>
  <body>
      <table class="menubar"><tr><th>
      <h3>
      DBCA Health Check
      </th><td style="text-aligh:right">
      {% if can_admin %}
      <A href="/healthcheck/systemview">Add View</A>
      {% endif %}
      </td>
        {% include 'healthcheck/inc/help.html' %}
      </tr></table>
      </h3>

      {% include 'healthcheck/inc/messages.html' %}

      <table  class="healthcheckhistorytable">
      <tr>
          <td style="width:250px">{{defaultview.id}}</td>
          <td>{{defaultview.title}}</td>
          <td>{{defaultview.description}}</td>
          <td style="width:300px">
              {% if can_admin %}
              <A href="/healthcheck/customize">Config</A> | 
              {% endif %}
              <A href="/healthcheck/dashboard">View</A>
          </td>
      </tr>
      {% for view in systemviews %}
      <tr>
          <td >{{view.id}}</td>
          <td>{{view.title}}</td>
          <td>{{view.description}}</td>
          <td>
              {% if can_admin %}
              <A href="/healthcheck/systemview/{{view.id}}">Edit</A> | 
              <A href="/healthcheck/systemview/{{view.id}}/delete">Delete</A> | 
              <A href="/healthcheck/config/view/{{view.id}}">Config</A> | 
              {% endif %}
              <A href="/healthcheck/prtg/{{view.id}}" target="_prtgdata">PRTG</A> | 
              <A href="/healthcheck/dashboard/{{view.id}}">Dashboard</A> 
          </td>
      </tr>
      {% endfor %}
      </table>

      <table class="menubar"><tr><th>
      <h3>
      PRTG Sensors
      </th><td style="text-aligh:right">
      {% if can_admin %}
      <A href="/healthcheck/prtgsensor">Add Sensor</A>
      {% endif %}
      </td>
        {% include 'healthcheck/inc/help.html' %}
      </tr></table>
      </h3>

      <table  class="healthcheckhistorytable">
      {% for sensor in prtgsensors %}
      <tr>
          <td style="width:200px">{{sensor.id}}</td>
          <td>{{sensor.title}}</td>
          <td>{{sensor.description}}</td>
          <td style="width:300px">
              {% if can_admin %}
              <A href="/healthcheck/prtgsensor/{{sensor.id}}">Edit</A> | 
              <A href="/healthcheck/prtgsensor/{{sensor.id}}/delete">Delete</A> | 
              <A href="/healthcheck/config/prtgsensor/{{sensor.id}}">Config</A> | 
              {% endif %}
              <A href="/healthcheck/prtg/{{sensor.id}}" target="_prtgdata">PRTG</A>
          </td>
      </tr>
      {% endfor %}
      </table>

  </body>
</html>
