<!doctype html>
<html lang="en">
  <head>
    <title>Edit System Dashboard</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DBCA Spatial Support System health checks" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
        {% include 'healthcheck/inc/healthcheck.css' %}
    </style>
    <script>
        {% include 'healthcheck/inc/healthcheck.js' %}
    </script>
  </head>
  <body>
      {% if system %}
      <form action="/healthcheck/config/systemview/{{viewmeta.id}}" method="POST">
      {% else %}
      <form action="/healthcheck/config/systemview" method="POST">
      {% endif %}
      <h3>
      <table class="menubar"><tr><th>
          <A href='/healthcheck'>Home</A> -> <A href='/healthcheck/dashboard'> Default Dashboard</A>
          {% if system %}
          -> <A href='/healthcheck/dashboard/{{system}}'> {{system}} Dashboard </A> -> Editing
          {% else %}
          -> Adding System Dashboard
          {% endif %}
      </th><td style="text-aligh:right">
            <button type="submit" name="action" value="save" style="padding-left:10px;padding-right:10px;">Save</button> | 
            <button type="button" onclick="window.location.href='/healthcheck/config/systemview/{{viewmeta.id}}/delete'" style="padding-left:10px;padding-right:10px">Delete</button> | 
            <button type="submit" name="action" value="cancel" style="padding-left:10px;padding-right:10px">Cancel</button>
      </td></tr></table>
      </h3>

      {% include 'healthcheck/inc/messages.html' %}
          <div style="text-align:center;width:100%">
          <table style="width:80%;text-align:center">
              <tr><th style="width:200px;text-align:right">System Identity:</th>
                  <td style="text-align:left">
                      {% if system %}
                      <b>{{viewmeta.id}}</b>
                      {% else %}
                      <input type="text" name="id" value="{{viewmeta.id}}" style="width:100px">
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <th style="width:200px;text-align:right">Title: </th>
                  <td style="text-align:left"><input type="text" name="title" value="{{viewmeta.title}}" style="width:90%"></td>
              </tr>
              <tr>
                  <th style="width:200px;text-align:right">Description: </th>
                  <td style="text-align:left"><input type="text" name="description" value="{{viewmeta.description}}" style="width:90%"></td>
              </tr>
            </table>
          </div>
      </form>

  </body>
</html>
