apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
nameSuffix: -uat
resources:
  - ../../base
  - statefulset_healthcheckserver.yaml
  - service_healthcheckserver.yaml
  - ingress.yaml
  - data_pvc.yaml
secretGenerator:
  - name: healthcheck-env
    type: Opaque
    envs:
      - .env
generatorOptions:
  disableNameSuffixHash: true
labels:
  - includeSelectors: true
    pairs:
      variant: uat
patches:
  - path: deployment_patch.yaml
  - path: service_patch.yaml
  - path: data_pvc_patch.yaml
  - path: service_healthcheckserver_patch.yaml
  - path: statefulset_healthcheckserver_patch.yaml
